<?xml version="1.0" encoding="UTF-8" ?>
<!--
    SmetDenis CSVImport

    This file is part of the SmetDenis/CSVImport Package.
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @package    CSVImport
    @license    MIT
    @copyright  Copyright (C) Denis Smetannikov, All rights reserved.
    @link       https://github.com/SmetDenis/CSVImport
-->
<phpunit bootstrap="tests/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="false"
>

    <testsuites>
        <testsuite name="General">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/coverage_total/main.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </logging>

</phpunit>
